<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&gt;&gt;{{user_name}}</title>
    <style>
        .container {
            height: 100vh;
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .container>div * {
            font-size: 32px;
        }

        .container>div {
            display: flex;
            flex-direction: column;
        }

        iframe {
            width: 50vw;
            height: 50vh;
        }

        #tempo_segundos {
            width: 2em;
        }
    </style>
</head>

<body>
    <div class="container">
        <iframe src='/logar/{{user_name}}' frameborder="1"></iframe>
        <div>
            <label>
                <span>Texto :</span>
                <input type="text" id="texto" value="Digite seu texto aqui">
            </label>
            <label>
                <span>cor da fonte: </span>
                <input type="color" id="cor_fonte">
            </label>
            <label>
                <span>cor do fundo: </span>
                <input type="color" id="cor_fundo" value="#ffffff">
            </label>
            <label>
                <span>Animação: </span>
                <select id="anim">
                    <option value="slide" selected>slide</option>
                </select>
            </label>
            <label>
                <span>tempo (segundos): </span>
                <input type="number" id="tempo_segundos" min="1" max="60" value="10">
            </label>
            <div>

                <button type="button">Resetar</button>
                <button type="button" id="btn_salvar_config">Salvar</button>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var ws = null;
            document.getElementById('btn_salvar_config').addEventListener('click', sendConfig)

            const texto = document.getElementById("texto")
            const cor_fonte = document.getElementById('cor_fonte')
            const cor_fundo = document.getElementById('cor_fundo')
            const anim = document.getElementById('anim')
            const tempo_segundos = document.getElementById('tempo_segundos')

            // <!-- ws = new WebSocket(`ws://${window.location.host}/ws/` + {{user_name}}) -->
            ws = new WebSocket(`ws://127.0.0.1:8000/ws/222`)
            
            function sendConfig() {
                data_send = {
                    "texto":texto.value,
                    "cor_fonte": cor_fonte.value,
                    "cor_fundo": cor_fundo.value,
                    "anim": anim.value,
                    "tempo_segundos": tempo_segundos.value,
                }
                console.log(JSON.stringify(data_send))
                ws.send(JSON.stringify(data_send))
            }
        })
    </script>
</body>

</html>