<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&gt;&gt;{{user_name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .container>div * {
            font-size: 32px;
        }

        #tempo_segundos {
            width: 2em;
        }
        label{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 4px;
            border-bottom: 1px solid black;
        }

    </style>
</head>

<body class="vh-100">
    <div class="container d-flex h-100 w-100 flex-column flex-md-row align-items-center gap-4">
        <iframe src='/logar/{{user_name}}' class="border border-1 border-black h-50 col col-md-6"></iframe>
        <div class="d-flex flex-column border border-1 border-black bg-dark-subtle p-2 ">
            <label>
                <span>Nome: </span>
                <input type="text" id="texto" value="Exemplo" class="w-100">
            </label>
            <label>
                <span>cor da fonte: </span>
                <input type="color" id="cor_fonte" value="#0000ff">
            </label>
            <label>
                <span>cor do fundo: </span>
                <input type="color" id="cor_fundo" value="#cccccc">
            </label>
            <label>
                <span>Tamanho da fonte: </span>
                <input type="range" id="tam_fonte" min="40" max="130" step="15">
            </label>
            <label>
                <span>Animação: </span>
                <select id="anim">
                    <option value="pulse" selected>Pulsar</option>
                    <option value="blink">Piscar</option>
                    <option value="slide">Deslizar</option>
                    <option value="stop">Parar</option>
                </select>
            </label>
            <label>
                <span>tempo (segundos): </span>
                <input type="number" id="tempo_segundos" min="1" max="20" value="5">
            </label>
            <div class="d-flex justify-content-around mt-2 ">
                <button type="button" id="btn_reset_config" class="btn btn-outline-danger fw-bold ">Resetar</button>
                <button type="button" id="btn_salvar_config" class="btn btn-success fw-bold ">Salvar</button>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var ws = null;
            
            const texto = document.getElementById("texto")
            const cor_fonte = document.getElementById('cor_fonte')
            const cor_fundo = document.getElementById('cor_fundo')
            const tam_fonte = document.getElementById('tam_fonte')
            const anim = document.getElementById('anim')
            const tempo_segundos = document.getElementById('tempo_segundos')
            
            document.getElementById('btn_salvar_config').addEventListener('click', sendConfig)
            document.getElementById('btn_reset_config').addEventListener('click', resetConfig)
            texto.onchange = sendConfig
            cor_fonte.onchange = sendConfig
            cor_fundo.onchange = sendConfig
            tam_fonte.onchange = sendConfig
            anim.onchange = sendConfig
            tempo_segundos.onchange = sendConfig
            

            // <!-- ws = new WebSocket(`ws://${window.location.host}/ws/` + {{user_name}}) -->
            ws = new WebSocket(`ws://${window.location.host}/ws/{{user_name}}`)
            
            function sendConfig() {
                data_send = {
                    "texto":texto.value,
                    "cor_fonte": cor_fonte.value,
                    "cor_fundo": cor_fundo.value,
                    "tam_fonte": tam_fonte.value,
                    "anim": anim.value,
                    "tempo_segundos": tempo_segundos.value,
                }
                ws.send(JSON.stringify(data_send))
            }

            function resetConfig() {
                texto.value = 'Exemplo'
                cor_fonte.value = '#0000ff'
                cor_fundo.value = '#cccccc'
                anim.value = 'pulse'
                tempo_segundos.value = '10'
                
                data_send = {
                    "texto":'Exemplo',
                    "cor_fonte": '#0000ff',
                    "cor_fundo": '#cccccc',
                    "anim": 'pulse',
                    "tempo_segundos": '10',
                }
                ws.send(JSON.stringify(data_send))
            }
        })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>