<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <style>
        .container {
            margin: 0 auto;
            max-width: 640px;
            height: 70vh;
        }

        .container,
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        form {
            border: 1px solid black;
            border-radius: 8px;
            padding: 16px;
            gap: 8px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Criar ou Logar</h1>
        <form>
            <label>
                <span>Nome: </span>
                <input id="nome" type="text" required>
            </label>
            <label>
                <span>Senha: </span>
                <input id="senha" type="password" required>
            </label>
            <div>
                <button type="button" onclick=Criar()>Criar</button>
                <button type="button" onclick=Logar()>Logar</button>
            </div>
        </form>
    </div>
    <script>
        const nome = document.getElementById('nome')
        const senha = document.getElementById('senha')
        function Logar() {
            if (nome.value == '') {
                alert('Digite um nome')
                nome.focus()
                return
            }
            console.log(nome.value)
            window.location.href = window.location.href + 'logar/' + nome.value
        }
        function Criar() {
            if (nome.value == '' || senha.value == '') {
                alert('Preencha todos os campos')
                if (nome.value == '') {
                    nome.focus()
                    return
                }
                if (senha.value == '') {
                    senha.focus()
                }
                return
            }
            fetch('/criar', {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                },
                body: JSON.stringify({
                    user_name: nome.value,
                    user_pass: senha.value
                })
            })
                .then((response) => response.status)
                .then((status) => {
                    console.log(status)
                    if (status == 201) {
                        window.location.href = window.location.href + 'logar/' + nome.value + '/edit'
                    }
                })
        }
    </script>
</body>

</html>