<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&lt;&lt; {{user_name}}</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #container {
            height: 100vh;
            overflow: hidden;
            display: flex;
            justify-content: center;
            position: relative;
        }

        h1 {
            font-family: monospace;
            text-wrap: nowrap;
            line-height: 100vh;
            font-size: 90vh;
            text-transform: uppercase;
            position: absolute;
        }
    </style>
</head>

<body>
    <div id="container">
        <!-- Dado carregado pelo websocket: data = {texto: 'Exemplo', cor_fonte: '#0000ff', cor_fundo: '#cccccc', anim: 'slide', velocidade: '7'} -->
        <h1 id="texto"></h1>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var ws = null;
            let animation
            let keep_alive
            const container = document.getElementById('container')
            const texto = document.getElementById("texto")
            ws = new WebSocket(`ws://${window.location.host}/ws/{{user_name}}`)
            ws.onmessage = async function ({ data } = event) {
                clearInterval(keep_alive)
                data = JSON.parse(data)
                container.style.backgroundColor = data.cor_fundo
                texto.innerHTML = data.texto
                texto.style.color = data.cor_fonte
                texto.style.fontSize = `${data.tam_fonte}vh`
                animate(data.anim, data.velocidade, texto.style.color, container.style.backgroundColor, texto.style.fontSize)

                keep_alive = setInterval(() => {
                    console.log('send ping')
                    if (ws.readyState == ws.CLOSED) {
                        window.location.reload()
                    }
                    else {
                        ws.send(JSON.stringify(data))
                    }
                }, 45000)
            }

            function animate(name, duration, cor1 = '', cor2 = '', tam_fonte = '') {
                tam_fonte = tam_fonte.replace('vh', '')
                texto.style.right = null
                clearInterval(animation)
                switch (name) {
                    case 'blink':
                        animation = setInterval(() => {
                            texto.style.color = texto.style.color == cor1 ? cor2 : cor1
                            container.style.backgroundColor = container.style.backgroundColor == cor2 ? cor1 : cor2
                        }, (5 / duration) * 1000)
                        break
                    case 'pulse':
                        console.log('pulsando')
                        count = 1000
                        somar = 5
                        animation = setInterval(() => {

                            if (count > 1100 | count < 900) {
                                somar = -somar
                            }
                            count = count + somar
                            texto.style.fontSize = `${parseInt(tam_fonte) * (count / 1000)}vh`
                        }, (5 / duration) * 10)
                        break
                    case 'slide':
                        console.log('deslizando')
                        count = texto.getClientRects()[0].right
                        somar = 5
                        animation = setInterval(() => {

                            if (texto.getClientRects()[0].right < 0) {
                                count = 0 - texto.getClientRects()[0].width
                            }
                            count = count + somar
                        }, (2 / duration) * 50)
                        break
                    default:
                        console.log('parado')
                        break
                }
            }
        })
    </script>
</body>

</html>