<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&lt;&lt; {{user_name}}</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #container {
            height: 100vh;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }

        h1 {
            font-family: monospace;
            text-wrap: nowrap;
            line-height: 100vh;
            font-size: 90vh;
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <div id="container">
        <!-- Dado carregado pelo websocket: data = {texto: 'Exemplo', cor_fonte: '#0000ff', cor_fundo: '#cccccc', anim: 'slide', tempo_segundos: '7'} -->
        <h1 id="texto"></h1>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var ws = null;
            let animation
            const container = document.getElementById('container')
            const texto = document.getElementById("texto")
            ws = new WebSocket(`ws://${window.location.host}/ws/{{user_name}}`)
            
            ws.onmessage = function ( { data } = event) {
                data = JSON.parse(data)
                container.style.backgroundColor = data.cor_fundo
                texto.innerHTML = data.texto
                texto.style.color = data.cor_fonte
                texto.style.fontSize = `${data.tam_fonte}vh`
                animate(data.anim, data.tempo_segundos, texto.style.color, container.style.backgroundColor)
            }

            function animate(name, duration, cor1, cor2) {
                clearInterval(animation)
                switch(name) {
                    case 'blink':
                    console.log('piscando')
                    animation = setInterval(()=>{
                        texto.style.color = texto.style.color == cor1 ? cor2 : cor1
                        container.style.backgroundColor = container.style.backgroundColor == cor2 ? cor1 : cor2
                        },duration*500)
                        break
                    case 'pulse':
                        console.log('pulsando')
                        break
                    case 'slide':
                        console.log('deslizando')
                        break
                    default:
                        console.log(animation, 'parado')
                        break
                }
            }
        })
    </script>
</body>

</html>